<!DOCTYPE html>
<html lang="en">
<!-- --- -->
<head>
<!-- --- -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>PureKnow</title>
<meta property="description" content="A simple and pure knowledge base">
<meta property="og:title" content="PureKnow">
<meta property="og:description" content="A simple and pure knowledge base">
<meta property="og:url" content="https://pureknow.github.io/">
<meta property="og:type" content="website">
<meta property="og:site_name" content="PureKnow">
<meta property="og:locale" content="en_US">

<link rel="icon" type="image/x-icon" href="/favicon.svg">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<meta property="og:image" content="https://pureknow.github.io/assests/PureKnow-cover.png">
<meta property="twitter:image" content="https://pureknow.github.io/assests/PureKnow-cover.png">

<!-- <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- --- -->
<style>
.page-cover {
  position: fixed;
  top:0; right:0; bottom:0; left:0;
  overflow: hidden;
  background: #eee;
  z-index: 99999;
}
.main-hero-wrap {
  height: 100vh;
}
.main-hero {
  height: 100%;
  background-color: var(--bs-gray-100);
  overflow: auto;
}
.main-app-icon {
  display: block;
  max-width: 200px;
  height: auto;
  margin: 1rem auto;
}
body {
  background-color: var(--bs-gray-200);
}
</style>
<!-- --- -->
</head>
<!-- --- -->
<body>
<!-- --- -->
<div class="app" id="app">
<!-- --- -->

<div class="page-cover" v-if="false">
  <div class="main-hero-wrap container py-2">
    <div class="main-hero rounded border d-flex align-items-center justify-content-center">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <img src="/favicon.svg" alt="PureKnow-icon" class="main-app-icon">
        <h1 class="fw-bold m-0">PureKnow</h1>
        <p class="fw-light text-secondary">A simple and pure knowledge base</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="page-cover" v-if="false"><div class="container pt-5 text-center">
  <div class="row"><div><h2>PureKnow</h2></div></div>
  <div class="row"><div><p>loading...</p></div></div>
</div></div> -->


<div class="main-wrap">

  <div class="main-hero-wrap container py-2">
    <div class="main-hero rounded border d-flex align-items-center justify-content-center">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <img src="/favicon.svg" alt="PureKnow-icon" class="main-app-icon">
        <h1 class="fw-bold m-0">PureKnow</h1>
        <p class="fw-light text-secondary">A simple and pure knowledge base</p>
      </div>
    </div>
  </div>

</div>


<!-- --- -->
</div>
<!-- --- -->
<!-- <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.5.0/axios.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/localforage/1.10.0/localforage.min.js"></script> -->
<!-- <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.global.js"></script> -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!-- <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.global.prod.min.js"></script> -->
<!-- <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.runtime.global.prod.min.js"></script> -->
<script>
const { reactive, readonly, ref, toRefs, computed, onMounted, onUpdated } = Vue;
const MainApp = {
  setup() {
    const data = Vue.reactive({
      hello: "",
    });
    return {
      data,
    };
  },
};
const theApp = Vue.createApp(MainApp);
const app = theApp.mount("#app");
</script>
</body>
</html>